# Reads metrics from a SSL certificate
[[inputs.x509_cert]]
  ## List certificate sources
  sources = [
        "/etc/letsencrypt/live/aam.v1sports.com/fullchain.pem",
        "/etc/letsencrypt/live/app.v1sports.com/fullchain.pem",
        "/etc/letsencrypt/live/test.app.v1sports.com/fullchain.pem",
        "/etc/letsencrypt/live/test.aam.v1sports.com/fullchain.pem",
        "/etc/letsencrypt/live/stage.app.v1sports.com/fullchain.pem",
        "/etc/letsencrypt/live/stage.aam.v1sports.com/fullchain.pem",
        ]

